body{
    background-image: url('../img/background.jpg');
}

.containerPlanets{
    display: none;
}
#title{
    background-color: darkcyan;
    text-align: center;
    color: aliceblue
}
#title2{
    background-color: darkcyan;
    text-align: center;
    color: aliceblue;
    display: none;
}